services:
  postgres:
    image: postgres:15-alpine
    container_name: wallet-db
    environment:
      - POSTGRES_USER=walletuser
      - POSTGRES_PASSWORD=walletpass
      - POSTGRES_DB=walletdb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: wallet-redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: wallet-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  postgres_data: